@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-background:        #1a1b26;
  --color-foreground:        #a9b1d6;
  --color-accent:            #7aa2f7;
  --color-cursor:            #c0caf5;
  --color-selection-bg:      #7aa2f7;
  --color-selection-fg:      #c0caf5;
  --color-black:             #32344a;
  --color-red:               #f7768e;
  --color-green:             #9ece6a;
  --color-yellow:            #e0af68;
  --color-blue:              #7aa2f7;
  --color-magenta:           #ad8ee6;
  --color-cyan:              #449dab;
  --color-white:             #787c99;
  --color-bright-black:      #444b6a;
  --color-bright-red:        #ff7a93;
  --color-bright-green:      #b9f27c;
  --color-bright-yellow:     #ff9e64;
  --color-bright-blue:       #7da6ff;
  --color-bright-magenta:    #bb9af7;
  --color-bright-cyan:       #0db9d7;
  --color-bright-white:      #acb0d0;
}
