@import "tailwindcss";

/* Default colors of tokyo night theme,
* in case we are not in omarchy */
@theme {
  --color-*: initial;

  --color-background:        #1a1b26;
  --color-foreground:        #a9b1d6;
  --color-accent:            #7aa2f7;
  --color-cursor:            #c0caf5;
  --color-selection-bg:      #7aa2f7;
  --color-selection-fg:      #c0caf5;
  --color-color0:            #32344a;
  --color-color1:            #f7768e;
  --color-color2:            #9ece6a;
  --color-color3:            #e0af68;
  --color-color4:            #7aa2f7;
  --color-color5:            #ad8ee6;
  --color-color6:            #449dab;
  --color-color7:            #787c99;
  --color-color8:            #444b6a;
  --color-color9:            #ff7a93;
  --color-color10:           #b9f27c;
  --color-color11:           #ff9e64;
  --color-color12:           #7da6ff;
  --color-color13:           #bb9af7;
  --color-color14:           #0db9d7;
  --color-color15:           #acb0d0;
}
